*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 모든 태그들의 마진, 패딩값을 0으로 설정 */

body{
    background-color:lemonchiffon;
}

.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}
.material-icons{
    font-size: 60pt;
}
.lg-text{
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 5px;
}
.sm-text{
    font-size: 10pt;
}

#dynamic{
    position: relative;
    display: inline-block;
}
/* 커서 만들기 */
#dynamic::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 3px;
    height: 100%;
    background-color: black;
}
/* active 클래스가 있으면 커서 사라지게 (js 이용)*/
#dynamic.active::after{
    display: none;
}